@charset "UTF-8";
@font-face{
    font-family: 'onepiece';
    src: url('/fonts/one\ piece\ font.ttf') format('truetype');
}

@font-face{
    font-family: 'poppins';
    src: url('/fonts/Poppins-Regular.otf') format('opentype');
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;/*soma o padding com a margem*/
    list-style: none;
    text-decoration: none;
    font-family: 'poppins';
    
}

body{
    max-width: 1200px;/*largura max da tela*/
    margin: 0 auto;
    background-color: #000;
}

header{
    background-color: #000;
    padding: 10px;
    display: flex;/*deixa flexivel, um ao lado do outro*/
    align-items: center;
    justify-content: space-around;/*deixa os itens separados em colunas*/
}

header h1{
    color: white;
    font-family:'onepiece';
    font-size: 3rem;
}
header span{
    
    color: red;
}

header .navegacao{
    gap: 30px;/*espaçamento entre itens*/
    display: flex;
}


header a{
    font-family: onepiece;
    color: white;
    padding: 15px;
    font-size: 1.4rem;
}

header a:hover{
    background-color: red;
    border-radius: 3px;
}

.section-div{
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;/*dividindo em duas colunas */
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}
.section-div div{
    margin-top: 120px;
    align-self: start;
    color: white;
    display: grid;
    gap: 30px;
}

.section-div div h2{
    font-weight: 600;
}
.section-div div p{
    font-size: 1rem;
    font-weight: 200;
}
.section-div div a{

    animation: inicializar .7s forwards;/*Chamando o keyframe com a duração de 7s e fazendo com que depois da animação, permaneça na programação normal do link a*/

    justify-self: start;/*serve para que o item não se ajuste ao tamanho da tela após esticada, ele vai ficar do mesmo tamanho */
    color: white;
    padding: 12px 20px;
    border: 2px solid white;
    border-radius: 3px;
}
.digitando{
    font-family: onepiece;
    font-size: 2.5rem;
    color: red;
}

.digitando::after{/*depois que o h2começar a aparecer, a pseudoclasse é ativada*/
    content: '|';
    opacity: 1;
    margin-left: 5px;
    animation: pisca .5s infinite;/*chama a função pisca a cada 5s infinitamente*/
}

@keyframes pisca {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* CONTEUDO DA MAIN */
main{
    background-color: #0f0e0e;
    color: white;
}

main .sobre{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}
.sobre-titulo{
    margin: 30px 0px;
    grid-column: 1/-1;
    text-align: center;
}
.sobre-titulo h1{
    font-family: onepiece;
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: red;
}
.sobre-titulo p{
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    position: relative;
}

.sobre-titulo div{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sobre-titulo button{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    border: none;
    cursor: pointer;
}

.sobre img{
    animation: efeitoImg .5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;/*na linha 2*/
    max-width: 100%;
    border-radius: 5px;
    filter: blur(0);
}
.sobre img:hover{
    transition: .5s ease-in;
    filter: blur(1px);
}
.sobre-conteudo{
    animation: efeitoSeção .5s ease-in-out forwards;
    grid-column: 2/-1;/*da coluna dois até a um*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sobre-texto{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}
.sobre-texto h1{
    font-family: onepiece;
    font-size: 2.5rem;
    color: red;
    grid-column: 1/-1;
    
}
.sobre-texto h1::after {
    background-color: red;
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}
.sobre-texto p{
    font-size: 1.3rem;
    grid-row: 2;
    grid-column:  1/-1;
    font-weight: 200;
    font-size: 1rem;
}
.sobre-info{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}
.sobre-info i{
    color: red;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem
}
.sobre-info p{
    font-size: 0.9rem
}

@keyframes efeitoSeção{
    from{
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    } to{
        transform: translate3d(0, 0, 0);
    }
}


@keyframes efeitoImg{
    from{
        transition: .5s;
        transform: translate3d(-60px, 0, 0);
    } to{
        transform: translate3d(0, 0, 0);
    }
}

/* RESPONSIVIDADE */

/*só executa se o tamanho da tela passar de 700px*/
@media(max-width: 1000px) {

    header .navegacao{
        display: none;
    }

    header i{
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .section-div img {
        display: none;
    }
    .section-div {
        background-image: url(/imgs/luffypump.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
    }

    .sobre-conteudo{
        grid-column: 1/-1;
    }
}